{% extends 'base.html' %}

{% block head %} 
<title>Productivity5000</title>
{% endblock %}
{% block body %}
<div class="content">
    

    
    <table>
        <tr>
            <th>Paradigm <select name="paradigm" id="paradigm">
                <option value="Default">Default</option>
            </select>              
                <td style="text-align: left;">
                    <a href="/">Dashboard</a>
                    <a href="/">Tag</a>
                    <a href="/">Context</a>
                    <a href="/">Move</a>
                    <a href="/" style="float: right;">Options</a>
                    
                </td>
            </th>
        </tr>
        
            <tr class="folders-row" >
                <td style="width: 125px;">
                    Folders
                </td>
                <td>

                </td>
                
            </tr>
    </table>
    
</div>
{% endblock %}

