{% extends 'base.html' %}

{% block head %} 
<title>Productivity5000</title>
{% endblock %}
{% block body %}
<div class="content">
    

    
    <table>
        <tr>
            <th>Paradigm <select name="paradigm" id="paradigm"> 
                <option value="Default">Default</option>
                
            </select>
            <a href="/" >+</a>             
                
            <td style="text-align: left;">
                    <a href="/">Dashboard</a>
                    <a href="/">Tag</a>
                    <a href="/">Context</a>
                    <a href="/">Move</a>
                    <a href="/save">Save</a>
                    <a href="/" style="float: right;">Options</a>
                    
                </td>
            </th>
        </tr>
        
            <tr class="folders-row" >
                <td style="width: 100px; position: relative; height: 100px;">
                    Inbox <br>
                    Projects<br>
                    Reference<br>
                    Archive<br>
                    <a href="/" style="position: absolute; bottom: 0; right: 10px; font-size: 24px;">+</a>
                </td>
                <td style="width: 800px; height:50px;">
                    <textarea name="note" style="width: 100%; height: 100%; box-sizing: border-box; resize: none;"></textarea>
                </td>
                
            </tr>
    </table>
    
</div>
{% endblock %}

